/*** Style for the buttons, dropdown menus, and textboxes ***/

input[type=text], input[type=number], input[type=button] {
	border-radius: 2px;
	height: 30px;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
}

select {
	border-radius: 2px;
	height: 30px;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
}
#search {
	width:100px;
	height:50px;
}
#searchbar {
	width: 700px;
	height: 500px;
	float:left;
	margin-right: 50px;
	margin-left: 50px;
}
#salary_min {
	width:20%;
}
#location {
	
}

#more_options {
	margin-top: 10px;
	width: 40%;
	height: 40%;
	float:left;
}

#results_per_page {
	width: 20%;
}

#page {
	width:10%;
}

#results {
	height:2000px;
	width: 500px;
	margin: 50px, 50px;
}
/*** Style for the text in each search result ***/
.min_salary {
	
}

.max_salary {
	
}

.location {
	
}

.description {
	color: red;
}

.title {
	
}

.category {
	
}
/* Style for the text fields */
.query {

}
.search_result {
	width: 600px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 2px;
	margin-bottom: 10px;
}