/*** Style for the buttons, dropdown menus, and textboxes ***/

input[type=text], input[type=number], input[type=button] {
	border-radius: 2px;
	height: 30px;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
}

select {
	border-radius: 2px;
	height: 35px;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
}

h2 {
	margin-bottom:15px;
}
#search {
	width:100px;
	height:50px;
}
#searchbar {
	width: 700px;
	height: 500px;
	float:left;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
}
#salary_min {
	width:20%;
}

#more_options {
	margin-top: 10px;
	width: 40%;
	height: 40%;
	float:left;
}

#results_per_page {
	width: 20%;
}

#page {
	width:10%;
}

#results {
	height:800px;
	width: 500px;
	margin: 50px, 50px;
}
#map {
	height: 600px;
}

.search_result {
	width: 600px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
	margin-bottom: 10px;
	display: flex; 
	flex-direction: column;
}

.title {
	order: 1;
}
.company {
	order: 2;
}

.category {
	order: 3;
}

.location {
	order: 4;
}

.created {
	order: 5;
}

.description {
	font-size: 14px;
	color: gray;
	order: 6;
}
.search_result button {
	order: 7;
}